@import url("title.css");
@import url("imageGrid.css");
@import url("images.css");
@import url("searchBar.css");
@import url("imagePopup.css");
@import url("noResults.css");
@import url("footer.css");

html, body {
    margin: 0;
    font-family: cursive, sans-serif;
    background-color: #2b2c28;
}