.no-results-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.no-results-icon {
    margin: 0;
    font-size: 4em;
}

.no-results-message {
    margin: 0;
    font-size: 2em;
    font-weight: bolder;
    color: #fffafb;
}